<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<title>My School</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-book-add'></i>

			<span class="text">Tra cứu thông tin</span>
		</a>
		<ul class   ="side-menu top">
			<li>
				<a href="{{url_for('home')}}">
					<i class='bx bxs-dashboard' class='bxs-dashboard'></i>
					<span class="text">Home</span>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<i class='bx bxs-image' ></i>
					<span class="text">My School</span>
				</a>
			</li>
			
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">999</span>
			</a>
			<a href="#" class="profile">
				<img src="{{ url_for('static', filename='img/1.png') }}">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>My School</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">My School</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
				</a>
			</div>
            <!-- IMAGE-->
			<div>
                {% for img_src in img_src_list %}
                <img src="{{ img_src }}" alt="image">
            {% endfor %}
            </div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
