<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='img/logo.png') }}"
		/>
		<title>University Search</title>
		<!-- Boxicons -->
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<!-- My CSS -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body>
		<!-- SIDEBAR -->
		<section id="sidebar">
			<a href="#" class="brand">
				<i class="bx bxs-book-add"></i>

				<span class="text">UniSearch</span>
			</a>
			<ul class="side-menu top">
				<li>
					<a href="{{url_for('home')}}">
						<i class="bx bxs-dashboard"></i>
						<span class="text">Home</span>
					</a>
				</li>
				<li class="active">
					<a href="#">
						<i class="bx bxs-group"></i>
						<span class="text">Team</span>
					</a>
				</li>
			</ul>
		</section>
		<!-- SIDEBAR -->

		<!-- CONTENT -->
		<section id="content">
			<!-- NAVBAR -->
			<nav>
				<i class="bx bx-menu"></i>
				<a href="#" class="nav-link">Categories</a>
				<form action="#">
					<div class="form-input">
						<input type="search" placeholder="Search..." />
						<button type="submit" class="search-btn">
							<i class="bx bx-search"></i>
						</button>
					</div>
				</form>
				<input type="checkbox" id="switch-mode" hidden />
				<label for="switch-mode" class="switch-mode"></label>
				<a href="#" class="notification">
					<i class="bx bxs-bell"></i>
					<span class="num">999</span>
				</a>
				<a href="#" class="profile">
					<img src="{{ url_for('static', filename='img/1.png') }}" />
				</a>
			</nav>
			<!-- NAVBAR -->

			<!-- MAIN -->
			<main>
				<div class="head-title">
					<div class="left">
						<h1>Team</h1>
						<ul class="breadcrumb">
							<li>
								<a href="#">Dashboard</a>
							</li>
							<li><i class="bx bx-chevron-right"></i></li>
							<li>
								<a class="active" href="#">Team</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="table-container">
					<div class="person" style="--color: #782a2b">
						<div class="container">
							<div class="conianer-inner">
								<div class="circle"></div>
								<img src="{{ url_for('static', filename='img/hoang.jpg') }}" />
							</div>
						</div>
						<div class="divider"></div>
						<h1>Bùi Trần Việt Hoàng</h1>
						<h3>21013113</h3>
						<p>Senior UX/UI Designer</p>
					</div>

					<div class="person" style="--color: #37375e">
						<div class="container">
							<div class="conianer-inner">
								<div class="circle"></div>
								<img src="{{ url_for('static', filename='img/cuoc.jpg') }}" />
							</div>
						</div>
						<div class="divider"></div>
						<h1>Dương Phúc Quốc</h1>
						<h3>21010596</h3>
						<p>Senior Full-Stack Developer</p>
					</div>

					<div class="person" style="--color: #3e6e7c">
						<div class="container">
							<div class="conianer-inner">
								<div class="circle"></div>
								<img src="{{ url_for('static', filename='img/quan.jpg') }}" />
							</div>
						</div>
						<div class="divider"></div>
						<h1>Nguyễn Minh Quân</h1>
						<h3>21010617</h3>
						<p>Senior Product Manager</p>
					</div>
				</div>
			</main>
			<!-- MAIN -->
		</section>
		<!-- CONTENT -->

		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
