body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

#logo {
	font-size: 28px;
	margin: 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav a {
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
}

.container {
	margin: 50px auto;
	width: 80%;
}

form input[type="text"] {
	border: none;
	border-bottom: 2px solid #333;
	font-size: 16px;
	margin-right: 10px;
	padding: 10px;
	width: 70%;
}

form button {
	background-color: #333;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
}

table {
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%;
}

th, td {
	border: 1px solid #ff7777;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #333;
	color: #fff;
}

a {
	color: #333;
	text-decoration: none;
}

footer {
	background-color: #ff7777;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.footer-left p {
	margin: 0;
}

.footer-left a {
	color: #333;
	margin-right: 10px;
	text-decoration: none;
}
